.*
!.git*
!/.vscode
!/.zed
!/.phpactor.json

/Tests/DbTestCase.php
/Tests/DoctrineTest/doctrine_tests/*
/Tests/Import/import_builder_test
/coverage
/composer.lock
/vendor
/tools/phpstan
/analysis-test.php
tmp
test.yml
*.cache
*~
/old
*.bak
