services:
  - class: Doctrine1\PHPStan\TableDynamicReturnTypeExtension
    tags:
      - phpstan.broker.methodsClassReflectionExtension
      - phpstan.broker.dynamicMethodReturnTypeExtension

  - class: Doctrine1\PHPStan\QueryDynamicReturnTypeExtension
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension

  - class: Doctrine1\PHPStan\CoreDynamicReturnTypeExtension
    tags:
      - phpstan.broker.dynamicStaticMethodReturnTypeExtension
