includes:
  - phpstan-baseline.neon
  - vendor/timeweb/phpstan-enum/extension.neon
  - extension.neon

parameters:
  level: 8
  tipsOfTheDay: false
  phpVersion: 80000
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  inferPrivatePropertyTypeFromConstructor: true
  parallel:
    processTimeout: 300.0
  paths:
    - lib
    - src
  ignoreErrors:
    - '#Unsafe usage of new static#'
    - '#Method Doctrine_Relation_Parser::completeDefinition\(\) should return array#'
