includes:
  - phpstan-baseline.neon
  - vendor/timeweb/phpstan-enum/extension.neon

parameters:
  level: 8
  tipsOfTheDay: false
  phpVersion: 80000
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  inferPrivatePropertyTypeFromConstructor: true
  parallel:
    processTimeout: 300.0
  paths:
    - lib
  ignoreErrors:
    - '#with type mixed is not subtype of native type iterable#'
