includes:
  - phpstan-baseline.neon
  - vendor/timeweb/phpstan-enum/extension.neon
  - extension.neon

parameters:
  level: 8
  tipsOfTheDay: false
  phpVersion: 80100
  inferPrivatePropertyTypeFromConstructor: true
  parallel:
    processTimeout: 300.0
  paths:
    - src
  ignoreErrors:
    - '#Unsafe usage of new static#'
    - '#Method Doctrine1\\Relation\\Parser::completeDefinition\(\) should return array#'
    - message: '#(has|with) no (return )?type specified#'
      paths: [Tests/*, Tests/*/*]
    - message: '#has an unused parameter#'
      paths: [Tests/*, Tests/*/*]
    - identifier: missingType.iterableValue
    - identifier: missingType.generics
