parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$callback of function call_user_func_array expects callable\\(\\)\\: mixed, array\\(Doctrine_Expression_Driver, string\\) given\\.$#"
			count: 1
			path: lib/Doctrine/Expression.php

		-
			message: "#^Method Doctrine_Parser\\:\\:doLoad\\(\\) should return string but returns string\\|false\\.$#"
			count: 1
			path: lib/Doctrine/Parser.php

		-
			message: "#^Call to an undefined method Doctrine_EventListener_Interface\\|Doctrine_Overloadable\\<Doctrine_EventListener_Interface\\>\\:\\:preValidate\\(\\)\\.$#"
			count: 1
			path: lib/Doctrine/Record.php

		-
			message: "#^Call to an undefined method Doctrine_EventListener_Interface\\|Doctrine_Overloadable\\<Doctrine_EventListener_Interface\\>\\:\\:postValidate\\(\\)\\.$#"
			count: 1
			path: lib/Doctrine/Record.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: lib/Doctrine/Record.php

		-
			message: "#^Call to an undefined method Doctrine_EventListener_Interface\\|Doctrine_Overloadable\\<Doctrine_EventListener_Interface\\>\\:\\:preSerialize\\(\\)\\.$#"
			count: 1
			path: lib/Doctrine/Record.php

		-
			message: "#^Call to an undefined method Doctrine_EventListener_Interface\\|Doctrine_Overloadable\\<Doctrine_EventListener_Interface\\>\\:\\:postSerialize\\(\\)\\.$#"
			count: 1
			path: lib/Doctrine/Record.php

		-
			message: "#^Call to an undefined method Doctrine_EventListener_Interface\\|Doctrine_Overloadable\\<Doctrine_EventListener_Interface\\>\\:\\:preUnserialize\\(\\)\\.$#"
			count: 1
			path: lib/Doctrine/Record.php

		-
			message: "#^Call to an undefined method Doctrine_EventListener_Interface\\|Doctrine_Overloadable\\<Doctrine_EventListener_Interface\\>\\:\\:postUnserialize\\(\\)\\.$#"
			count: 1
			path: lib/Doctrine/Record.php

		-
			message: "#^Parameter \\#2 \\$method of function method_exists expects string, string\\|null given\\.$#"
			count: 2
			path: lib/Doctrine/Record.php

		-
			message: "#^Method Doctrine_Record\\:\\:getModified\\(\\) should return array\\<string, mixed\\> but returns array\\<int\\|string, mixed\\>\\.$#"
			count: 1
			path: lib/Doctrine/Record.php

		-
			message: "#^Possibly invalid array key type array\\<string\\>\\|string\\|null\\.$#"
			count: 3
			path: lib/Doctrine/Record.php

		-
			message: "#^Parameter \\#1 \\$expr of method Doctrine_Query_Abstract\\<Doctrine_Record\\>\\:\\:whereIn\\(\\) expects string, array\\<string\\>\\|string\\|null given\\.$#"
			count: 4
			path: lib/Doctrine/Record.php

		-
			message: "#^Cannot call method setInvoker\\(\\) on string\\.$#"
			count: 1
			path: lib/Doctrine/Record.php

		-
			message: "#^Parameter \\#1 \\$callback of function call_user_func_array expects callable\\(\\)\\: mixed, array\\(string, string\\) given\\.$#"
			count: 1
			path: lib/Doctrine/Record.php

		-
			message: "#^Cannot call method getConnection\\(\\) on array\\|null\\.$#"
			count: 1
			path: lib/Doctrine/Relation.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: lib/Doctrine/Table.php

		-
			message: "#^Parameter \\#1 \\$args \\(array\\) of method Doctrine_Table\\:\\:bind\\(\\) should be compatible with parameter \\$name \\(string\\) of method Doctrine_Locator_Injectable\\:\\:bind\\(\\)$#"
			count: 1
			path: lib/Doctrine/Table.php

		-
			message: "#^Method Doctrine_Table\\:\\:find\\(\\) should return Doctrine_Collection\\<T of Doctrine_Record\\>\\|\\(iterable\\<T of Doctrine_Record\\>&T of Doctrine_Record\\)\\|false but returns array\\|Doctrine_Collection\\<T of Doctrine_Record\\>\\|Doctrine_Record\\|int\\|false\\.$#"
			count: 1
			path: lib/Doctrine/Table.php

		-
			message: "#^Method Doctrine_Table\\:\\:findOneBy\\(\\) should return array\\<string, mixed\\>\\|T of Doctrine_Record\\|false but returns array\\|Doctrine_Record\\|int\\|false\\.$#"
			count: 1
			path: lib/Doctrine/Table.php

		-
			message: "#^Method Doctrine_Table\\:\\:execute\\(\\) should return iterable\\<array\\<string, mixed\\>\\>&T of Doctrine_Record but returns array\\|Doctrine_Collection\\<T of Doctrine_Record\\>\\|int\\.$#"
			count: 1
			path: lib/Doctrine/Table.php

		-
			message: "#^Method Doctrine_Table\\:\\:executeOne\\(\\) should return array\\<string, mixed\\>\\|T of Doctrine_Record\\|false but returns array\\|Doctrine_Record\\|int\\|false\\.$#"
			count: 1
			path: lib/Doctrine/Table.php

		-
			message: "#^Call to an undefined method Doctrine_Validator_Driver\\:\\:validate\\(\\)\\.$#"
			count: 1
			path: lib/Doctrine/Table.php

		-
			message: "#^Strict comparison using \\=\\=\\= between array\\|null and 1 will always evaluate to false\\.$#"
			count: 1
			path: lib/Doctrine/Table.php

		-
			message: "#^Call to function is_array\\(\\) with mixed will always evaluate to false\\.$#"
			count: 2
			path: lib/Doctrine/Validator.php
