parameters:
	ignoreErrors:
		-
			message: "#^Call to sprintf contains 1 placeholder, 2 values given\\.$#"
			count: 1
			path: lib/Doctrine/Cli/Formatter.php

		-
			message: "#^Call to an undefined method Doctrine_Collection\\:\\:expand\\(\\)\\.$#"
			count: 1
			path: lib/Doctrine/Collection/Iterator/Expandable.php

		-
			message: "#^Constructor of class Doctrine_Connection_Mock has an unused parameter \\$adapter\\.$#"
			count: 1
			path: lib/Doctrine/Connection/Mock.php

		-
			message: "#^Constructor of class Doctrine_Connection_Mock has an unused parameter \\$manager\\.$#"
			count: 1
			path: lib/Doctrine/Connection/Mock.php

		-
			message: "#^Offset 2 does not exist on array\\(\\)\\.$#"
			count: 1
			path: lib/Doctrine/Connection/Pgsql.php

		-
			message: "#^Offset 3 does not exist on array\\(\\)\\.$#"
			count: 1
			path: lib/Doctrine/Connection/Pgsql.php

		-
			message: "#^Result of method Doctrine_EventListener_Interface\\:\\:preFetch\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: lib/Doctrine/Connection/Statement.php

		-
			message: "#^Parameter \\#2 \\$offset of function array_splice expects int, int\\|false given\\.$#"
			count: 2
			path: lib/Doctrine/Connection/UnitOfWork.php

		-
			message: "#^Variable \\$rootRecord might not be defined\\.$#"
			count: 1
			path: lib/Doctrine/Connection/UnitOfWork.php

		-
			message: "#^Parameter \\#1 \\$haystack of function strstr expects string, string\\|false given\\.$#"
			count: 1
			path: lib/Doctrine/DataDict/Mysql.php

		-
			message: "#^Argument of an invalid type array\\|true supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: lib/Doctrine/Export/Pgsql.php

		-
			message: "#^Parameter \\#1 \\$callback of function call_user_func_array expects callable\\(\\)\\: mixed, array\\(Doctrine_Expression_Driver, string\\) given\\.$#"
			count: 1
			path: lib/Doctrine/Expression.php

		-
			message: "#^Variable \\$activeRootIdentifier might not be defined\\.$#"
			count: 1
			path: lib/Doctrine/Hydrator/Graph.php

		-
			message: "#^Offset int does not exist on array\\|null\\.$#"
			count: 1
			path: lib/Doctrine/Hydrator/RecordDriver.php

		-
			message: "#^Argument of an invalid type array\\|null supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: lib/Doctrine/Hydrator/RecordDriver.php

		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 1
			path: lib/Doctrine/Import/Builder.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, array\\|string given\\.$#"
			count: 1
			path: lib/Doctrine/Import/Pgsql.php

		-
			message: "#^Parameter \\#1 \\$path of method Doctrine_Import_Builder\\:\\:setTargetPath\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: lib/Doctrine/Import/Schema.php

		-
			message: "#^Parameter \\#1 \\$string of function strtolower expects string, string\\|null given\\.$#"
			count: 1
			path: lib/Doctrine/Import/Sqlite.php

		-
			message: "#^Variable \\$autoincrementColumn might not be defined\\.$#"
			count: 1
			path: lib/Doctrine/Migration/Base.php

		-
			message: "#^Variable \\$autoincrementLength might not be defined\\.$#"
			count: 1
			path: lib/Doctrine/Migration/Base.php

		-
			message: "#^Variable \\$autoincrementOptions might not be defined\\.$#"
			count: 1
			path: lib/Doctrine/Migration/Base.php

		-
			message: "#^Variable \\$autoincrementType might not be defined\\.$#"
			count: 1
			path: lib/Doctrine/Migration/Base.php

		-
			message: "#^Parameter \\#1 \\$tableName of method Doctrine_Migration_Builder\\:\\:buildCreateForeignKey\\(\\) expects string, int\\|string given\\.$#"
			count: 1
			path: lib/Doctrine/Migration/Builder.php

		-
			message: "#^Parameter \\#1 \\$tableName of method Doctrine_Migration_Builder\\:\\:buildDropForeignKey\\(\\) expects string, int\\|string given\\.$#"
			count: 1
			path: lib/Doctrine/Migration/Builder.php

		-
			message: "#^Parameter \\#1 \\$name of method Doctrine_Migration\\:\\:loadMigrationClass\\(\\) expects class\\-string, string given\\.$#"
			count: 2
			path: lib/Doctrine/Migration/Builder.php

		-
			message: "#^Method Doctrine_Parser\\:\\:doLoad\\(\\) should return string but returns string\\|false\\.$#"
			count: 1
			path: lib/Doctrine/Parser.php

		-
			message: "#^Parameter \\#1 \\$data of method Doctrine_Parser\\:\\:doDump\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: lib/Doctrine/Parser/Json.php

		-
			message: "#^Parameter \\#1 \\$qualifiedName of method SimpleXMLElement\\:\\:addChild\\(\\) expects string, string\\|null given\\.$#"
			count: 2
			path: lib/Doctrine/Parser/Xml.php

		-
			message: "#^Call to function is_int\\(\\) with string\\|null will always evaluate to false\\.$#"
			count: 1
			path: lib/Doctrine/Parser/Xml.php

		-
			message: "#^Parameter \\#1 \\$simpleXml of method Doctrine_Parser_Xml\\:\\:prepareData\\(\\) expects SimpleXMLElement\\|string, SimpleXMLElement\\|false given\\.$#"
			count: 1
			path: lib/Doctrine/Parser/Xml.php

		-
			message: "#^Parameter \\#1 \\$customComponent of method Doctrine_Query_Abstract\\<T of Doctrine_Record_Abstract\\>\\:\\:getCachedForm\\(\\) expects array\\|Doctrine_Collection\\|string\\|null, string\\|false given\\.$#"
			count: 1
			path: lib/Doctrine/Query/Abstract.php

		-
			message: "#^Parameter \\#1 \\$query of method Doctrine_Connection\\:\\:exec\\(\\) expects string, array\\|string\\|false given\\.$#"
			count: 1
			path: lib/Doctrine/Query/Abstract.php

		-
			message: "#^Parameter \\#1 \\$query of method Doctrine_Connection\\:\\:execute\\(\\) expects string, array\\|string\\|false given\\.$#"
			count: 1
			path: lib/Doctrine/Query/Abstract.php

		-
			message: "#^Type Doctrine_Record_Abstract in generic type Doctrine_Collection\\<Doctrine_Record_Abstract\\> in PHPDoc tag @return is not subtype of template type T of Doctrine_Record of class Doctrine_Collection\\.$#"
			count: 1
			path: lib/Doctrine/Query/Abstract.php

		-
			message: "#^Call to an undefined method Doctrine_Hydrator\\|Doctrine_Hydrator_Abstract\\:\\:getHydratorDriver\\(\\)\\.$#"
			count: 1
			path: lib/Doctrine/Query/Abstract.php

		-
			message: "#^Call to an undefined method Doctrine_Query_Abstract\\<T of Doctrine_Record_Abstract\\>\\:\\:isSubquery\\(\\)\\.$#"
			count: 1
			path: lib/Doctrine/Query/Abstract.php

		-
			message: "#^Call to an undefined method Doctrine_Query_Abstract\\<T of Doctrine_Record_Abstract\\>\\:\\:copy\\(\\)\\.$#"
			count: 1
			path: lib/Doctrine/Query/Abstract.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 2
			path: lib/Doctrine/Query/Abstract.php

		-
			message: "#^Property Doctrine_Query_Abstract\\<T of Doctrine_Record_Abstract\\>\\:\\:\\$_resultCacheHash \\(string\\) does not accept string\\|null\\.$#"
			count: 1
			path: lib/Doctrine/Query/Abstract.php

		-
			message: "#^Strict comparison using \\=\\=\\= between int\\|string and null will always evaluate to false\\.$#"
			count: 1
			path: lib/Doctrine/Query/Abstract.php

		-
			message: "#^Call to an undefined method Doctrine_Query_Part\\:\\:parse\\(\\)\\.$#"
			count: 1
			path: lib/Doctrine/Query/Abstract.php

		-
			message: "#^Variable \\$func might not be defined\\.$#"
			count: 1
			path: lib/Doctrine/Query/Check.php

		-
			message: "#^Call to an undefined method Doctrine_Query_Condition\\:\\:load\\(\\)\\.$#"
			count: 1
			path: lib/Doctrine/Query/Condition.php

		-
			message: "#^Result of && is always true\\.$#"
			count: 1
			path: lib/Doctrine/Query/Groupby.php

		-
			message: "#^Result of && is always true\\.$#"
			count: 1
			path: lib/Doctrine/Query/Orderby.php

		-
			message: "#^Call to an undefined method Doctrine_Query_Set\\:\\:parseLiteralValue\\(\\)\\.$#"
			count: 1
			path: lib/Doctrine/Query/Set.php

		-
			message: "#^Argument of an invalid type array\\<int, string\\>\\|false supplied for foreach, only iterables are supported\\.$#"
			count: 2
			path: lib/Doctrine/Query/Tokenizer.php

		-
			message: "#^Parameter \\#2 \\$method of function method_exists expects string, string\\|null given\\.$#"
			count: 2
			path: lib/Doctrine/Record.php

		-
			message: "#^Method Doctrine_Record\\:\\:getModified\\(\\) should return array\\<string, mixed\\> but returns array\\<int\\|string, mixed\\>\\.$#"
			count: 1
			path: lib/Doctrine/Record.php

		-
			message: "#^Cannot call method setInvoker\\(\\) on string\\.$#"
			count: 1
			path: lib/Doctrine/Record.php

		-
			message: "#^Parameter \\#1 \\$callback of function call_user_func_array expects callable\\(\\)\\: mixed, array\\(string, string\\) given\\.$#"
			count: 1
			path: lib/Doctrine/Record.php

		-
			message: "#^Return type \\(void\\) of method Doctrine_Record_Filter_Standard\\:\\:filterSet\\(\\) should be compatible with return type \\(Doctrine_Record\\) of method Doctrine_Record_Filter\\:\\:filterSet\\(\\)$#"
			count: 1
			path: lib/Doctrine/Record/Filter/Standard.php

		-
			message: "#^Property Doctrine_Record_Listener\\:\\:\\$_options \\(array\\) does not accept array\\|false\\.$#"
			count: 1
			path: lib/Doctrine/Record/Listener.php

		-
			message: "#^Property Doctrine_Record_Listener_Chain\\:\\:\\$_options \\(array\\) does not accept array\\|false\\.$#"
			count: 1
			path: lib/Doctrine/Record/Listener/Chain.php

		-
			message: "#^Variable \\$rel in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: lib/Doctrine/Relation/Parser.php

		-
			message: "#^Variable \\$table might not be defined\\.$#"
			count: 1
			path: lib/Doctrine/Relation/Parser.php

		-
			message: "#^Cannot access offset 'type' on array\\<string, mixed\\>\\|false\\.$#"
			count: 2
			path: lib/Doctrine/Relation/Parser.php

		-
			message: "#^Cannot access offset 'length' on array\\<string, mixed\\>\\|false\\.$#"
			count: 2
			path: lib/Doctrine/Relation/Parser.php

		-
			message: "#^Cannot access offset 'autoincrement' on array\\<string, mixed\\>\\|false\\.$#"
			count: 1
			path: lib/Doctrine/Relation/Parser.php

		-
			message: "#^Cannot access offset 'sequence' on array\\<string, mixed\\>\\|false\\.$#"
			count: 1
			path: lib/Doctrine/Relation/Parser.php

		-
			message: "#^Cannot access offset 'primary' on array\\<string, mixed\\>\\|false\\.$#"
			count: 1
			path: lib/Doctrine/Relation/Parser.php

		-
			message: "#^Method Doctrine_Relation_Parser\\:\\:completeDefinition\\(\\) should return array\\('alias' \\=\\> string, 'type' \\=\\> int, 'table' \\=\\> Doctrine_Table, 'localTable' \\=\\> Doctrine_Table, 'class' \\=\\> class\\-string\\<Doctrine_Record\\>, 'foreign' \\=\\> string, 'local' \\=\\> string, \\?'localKey' \\=\\> bool, \\.\\.\\.\\) but returns array\\('alias' \\=\\> string, 'type' \\=\\> int, 'class' \\=\\> class\\-string\\<Doctrine_Record\\>, 'local' \\=\\> string, \\?'owningSide' \\=\\> bool, 'table' \\=\\> Doctrine_Table, 'localTable' \\=\\> Doctrine_Table, 'foreign' \\=\\> array\\|string\\|null, \\.\\.\\.\\)\\.$#"
			count: 1
			path: lib/Doctrine/Relation/Parser.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: lib/Doctrine/Table.php

		-
			message: "#^Method Doctrine_Table\\:\\:find\\(\\) should return array\\<T of Doctrine_Record\\>\\|bool\\|Doctrine_Collection\\<T of Doctrine_Record\\>\\|\\(Doctrine_Collection_OnDemand\\<T of Doctrine_Record\\>&iterable\\<T of Doctrine_Record\\>\\)\\|float\\|int\\|\\(iterable\\<T of Doctrine_Record\\>&T of Doctrine_Record\\)\\|string but returns array\\|bool\\|Doctrine_Collection\\<T of Doctrine_Record\\>\\|Doctrine_Collection_OnDemand\\<T of Doctrine_Record\\>\\|float\\|int\\|string\\|T of Doctrine_Record\\.$#"
			count: 1
			path: lib/Doctrine/Table.php

		-
			message: "#^Method Doctrine_Table\\:\\:findAll\\(\\) should return array\\|Doctrine_Collection\\<T of Doctrine_Record\\> but returns array\\|bool\\|Doctrine_Collection\\<T of Doctrine_Record\\>\\|Doctrine_Collection_OnDemand\\<T of Doctrine_Record\\>\\|float\\|string\\.$#"
			count: 1
			path: lib/Doctrine/Table.php

		-
			message: "#^Method Doctrine_Table\\:\\:execute\\(\\) should return iterable\\<array\\<string, mixed\\>\\>&T of Doctrine_Record but returns array\\|bool\\|Doctrine_Collection\\<T of Doctrine_Record\\>\\|Doctrine_Collection_OnDemand\\<T of Doctrine_Record\\>\\|float\\|int\\|string\\.$#"
			count: 1
			path: lib/Doctrine/Table.php

		-
			message: "#^Call to an undefined method Doctrine_Validator_Driver\\:\\:validate\\(\\)\\.$#"
			count: 1
			path: lib/Doctrine/Table.php

		-
			message: "#^Cannot call method getConfig\\(\\) on Doctrine_Cli\\|null\\.$#"
			count: 1
			path: lib/Doctrine/Task/GenerateModelsDb.php

		-
			message: "#^Call to function is_array\\(\\) with mixed will always evaluate to false\\.$#"
			count: 2
			path: lib/Doctrine/Validator.php

		-
			message: "#^Parameter \\#1 \\$key of function array_key_exists expects int\\|string, bool\\|float\\|int\\|string\\|null given\\.$#"
			count: 1
			path: lib/Doctrine/Validator/ErrorStack.php

		-
			message: "#^Comparison operation \"\\<\" between int\\<0, max\\> and array results in an error\\.$#"
			count: 1
			path: lib/Doctrine/Validator/Minlength.php

		-
			message: "#^Strict comparison using \\=\\=\\= between mixed and null will always evaluate to false\\.$#"
			count: 1
			path: lib/Doctrine/Validator/Nospace.php

		-
			message: "#^Parameter \\#1 \\$key of function array_key_exists expects int\\|string, array\\|string given\\.$#"
			count: 1
			path: lib/Doctrine/Validator/Readonly.php

		-
			message: "#^Else branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: lib/Doctrine/Validator/Regexp.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: lib/Doctrine/Validator/Regexp.php
